<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React Webpack</title>
     <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
     
</head>
<body style="background-color: #eee;">

    <div id="root">

    </div>
     <!-- Import jQuery for Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>

  <!-- Import Bootstrap JS from CDN for easy replacement/removal -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/new_bundle.min.js"></script>

</body>
</html>